<script src="/primus/primus.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('#leave-chat').hide();
		var primus = Primus.connect('http://localhost:2000');
		primus.on('open', function () {
			
			
			primus.on('update-chat', function (username, data) {
				
				$('#conversation').append('<b>' + username + ':</b> ' + data + "<br />");
			});

			primus.on('update-users', function (users) {
				$('#users').empty();
				$.each(users, function (key, val) {
					$('#users').append('<div>' + key + '</div>');
				});
			});
			
			$('#enter-chat').click(function(){
				primus.send('add-user', $('#username').val());
				$('#username').attr('disabled', true);
				$(this).hide();
				$('#leave-chat').show();
			});

			$('#send').click(function(){
				primus.send('send-message', $('#data').val());
			});

			$('#leave-chat').click(function(){
				primus.send('remove-user', $('#username').val());
				$('#username').attr('disabled', false).val('');
				$(this).hide();
				$('#enter-chat').show();
			});

		});
	});
  

</script>

<style type="text/css">
	#main-container{
		width:600;
		height:1000px;
	}
	#chat-app-container{
		width:100%;
		height:50%;
		border: solid 1px black;
	}
	#chat-app-container .col-left{
		float:left;
		width:65%;
		height:100%;
		border: solid 1px red;

	}
	#chat-app-container .col-right{
		float:right;
		width:30%;
		height:100%;
		border: solid 1px blue;
	}

</style>
<div id="main-container">
	<div id="test-message"></div>
	<h1>Primus Chat App Test</h1>
	<div>
		Username: <input type="text" id="username" />
		<input type="button" id="enter-chat" value="Enter Chat"/>
		<input type="button" id="leave-chat" value="Leave Chat" />

	</div>
	<div id="chat-app-container">
		<div class="col-left">
			<div>Chat Window</div>
			<div id="conversation"></div>
		</div>
		<div class="col-right">
			<div>Users</div>
			<div id="users"></div>
		</div>
		<div>

			<div>Type Message Here</div>
			<input type="text" style="width:300px" id="data" />
			<input type="button" name="send" value="send" id="send"/>
		</div>
</div>